<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cocktails</title>
  </head>
  <body>
    <h1>Cocktails</h1>
    <h2>All <% for (let i = 0; i < list.length; i ++) { %>
      <%= list[i] %>
    <% } %></h2>
    <ul>
      <li>
        <div>Name</div>
        <div>Price</div>
      </li>
      <% for (let i = 0; i < database.length; i ++) { %>
        <% if (!searched || database[i].contains.indexOf(searched) >= 0) { %>
        <li>
            <div>
              <p><%= database[i].name %>
                <% if (!database[i].isAlcoholic) { %>
                  (non alcoholic)
               <% } %>
              </p>
              <p><% database[i].contains.forEach(function (component) { %>
                <%= component + ',' %>
              <% }) %></p>
            </div>
            <div><%= database[i].price %> Ft</div>
          </li>
     <% } %>
     <% } %>
    </ul>
  </body>
</html>