<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cocktails</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Cocktails</h1>
    <h2>All <% for (let i = 0; i < list.length; i ++) { %>
      <%= list[i] %>
    <% } %></h2>
    <ul>
      <li class="titleBar">
        <div class="name">Name</div>
        <div class="price">Price</div>
      </li>
      <% for (let i = 0; i < database.length; i ++) { %>
        <% if (!searched || database[i].contains.indexOf(searched) >= 0) { %>
        <li>
            <div class="name">
              <p><%= database[i].name %>
                <% if (!database[i].isAlcoholic) { %>
                  (non alcoholic)
               <% } %>
              </p>
              <p class="components"><% database[i].contains.forEach(function (component) { %>
                <%= component + ',' %>
              <% }) %></p>
            </div>
            <div class="price"><%= database[i].price %> Ft</div>
          </li>
     <% } %>
     <% } %>
    </ul>
  </body>
</html>