<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather forecast</title>
  </head>
  <body>
    <% for (let i = 0; i < database.length; i ++) { %>
      <buton>
        <div class="city">
          <h1><%= database[i].city %></h1>
          <p><%= database[i].location %></p>
        </div>
        <div class="temperature">
         <h2> <%= database[i].weather[0].temp %> °C </h2>
        </div>
        <% if (database[i].weather[0].icon === 'cloudy') { %>
        <img src="cloudy.png">
        <% } else if (database[i].weather[0].icon === 'partly_cloudy') { %>
        <img src="partly_cloudy.png">
        <% } else if (database[i].weather[0].icon === 'sunny') { %>
          <img src="sunny.png">
        <% } else if (database[i].weather[0].icon === 'rainy') { %>
          <img src="rainy.png">
        <% } else if (database[i].weather[0].icon === 'snowy') { %>
          <img src="snowy.png">
        <% } %>
      </buton>
      <% } %>
  </body>
</html>