<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Forecast for <%= database[place].city %></title>
  </head>
  <body>
    <% for (let i = 0; i < database[place].weather.length; i ++) { %>
    <div>
      <img src=<%= '/' + database[place].weather[i].icon + '.png' %>>
          <div class="temp">
            <p><%= database[place].weather[i].temp %> °C</p>
          </div>
          <div class="message">
            <p><%= database[place].weather[i].message %></p>
          </div>
    </div>
    <% } %>
  </body>
</html>